.hero-section{
    margin: 2rem 4rem 8rem;
    height: 50rem;
}

.hero-img{
    height: inherit;
    border-radius: 10px 0 0 10px;
}

.hero-title{
    height: 50rem;
    word-spacing: 9999rem;
    border-radius: 0 10px 10px 0;
    padding: 4rem;
    background-color:var(--disabled-inner);
}

.hero-btn{
    width: 15rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

.title-color{
    color: var(--info-background);
    background-color: var(--input-box);
}

.category-card, .category-card-img, .title-color{
    width: 30rem;
}

.category-card:hover{
    transform: scale(1.1,1.1);
}

.below-hero{
    margin: 4rem;
    gap: 4rem;
    justify-items: center;
}

@media only screen and (max-width: 1200px) {
    .hero-title-text{
        font-size: 3.2rem;
        line-height: 4.8rem;
    }

    .hero-title{
        padding: 7rem 2rem;
    }

    .below-hero{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .below-hero{
        grid-template-columns: repeat(1, 1fr);
    }

    .hero-section{
        height: unset;
        margin: 2rem 0 5rem;
    }

    .hero-title {
        padding: 5rem 0;
        height: auto;
    }

    .hero-title-text {
        font-size: 2rem;
        line-height: 2.4rem;
    }

    .hero-btn {
        width: unset;
        font-size: 1.2rem;
        line-height: 2rem;
        min-height: 3rem;
    }
}